{% trans_default_domain 'FOSUserBundle' %}

<div style="width: 300px;">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': ''}}) }}
    {{ form_widget(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
{{ form_end(form) }}
</div>
